.primary-button {
  @include border-radius-all;
  margin: 0 $spacing-qtr;
  padding: $spacing-half $base-spacing;
}

.nav-button {
  float: right;
  margin: ($spacing-half * .6) 0;

  a {
    padding: 0 !important;
  }
}
