.storefront-secondary-navigation {
  .site-header {
    .storefront-primary-navigation {
      padding: 0 2rem;
    }

    .fj-preheader {
      display: none;
    }
  }
}

@include susy-media($desktop) {
  .storefront-secondary-navigation {
    .site-header {
      @include jagged-border-bottom;
      background: transparent;
      border-bottom-color: transparent;
      padding-top: 0;

      .storefront-primary-navigation {
        padding: 0 1rem;
      }

      .fj-preheader {
        @include span(12);
        background-color: $dark-background;
        display: inline-block;
        padding: 0 1rem;

        a {
          @include preheader-text;

          &::after {
            color: $light-text;
          }
        }

        .preheader-text {
          @include span(5 or 12);
          @include nav-container;
        }

        .secondary-navigation {
          @include span(last 7 or 12);
          @include nav-container;
          margin: 0;
        }
      }

      .storefront-primary-navigation {
        background-color: darken($brand-primary, 10%);

        .main-navigation {
          @include span(9 or 12);
          @include nav-container;
          float: none;
          margin: 1rem 0 1rem 1rem;

          a {
            color: $light-text;
            font-size: 1.2rem;

            &:hover,
            &.focus {
              @include transition-color;
              background-color: inherit;
              color: $brand-secondary;
            }
          }

          .menu {
            li {
              .sub-menu {
                opacity: 0;
                top: 0;
              }

              &:hover,
              &.focus {
                .sub-menu {
                  @include transition-visibility;
                  opacity: 1;
                  top: calc(100% - 1rem);
                }
              }
            }
          }

          .menu {
            .sub-menu {
              background-image: linear-gradient(to bottom, darken($brand-primary, 10%), $brand-primary);
            }
          }
        }

        .site-branding {
          @include span(3 or 12);
          @include nav-container;
          margin: 1.8rem 0;

          img {
            height: 68px;
            margin: auto;
            width: auto;
          }
        }
      }
    }
  }

  // .site-header {
  //   .main-navigation {
  //     @include span(9 or 12);
  //     @include nav-container;
  //     float: none;
  //   }
  // }


}
