.home.blog .site-header,
.home.page:not(.page-template-template-homepage) .site-header,
.home.post-type-archive-product .site-header {
  margin-bottom: 0;
}

.storefront-secondary-navigation {
  .site-header {
    .storefront-primary-navigation {
      padding: 0 $nav-spacing * 2;
    }

    .preheader {
      display: none;
    }
  }
}

@include susy-media($desktop) {
  .home.blog .site-header,
  .home.page:not(.page-template-template-homepage) .site-header,
  .home.post-type-archive-product .site-header {
    margin-bottom: $base-spacing * 2.1;
  }

  .header-bottom {
    @include sloped-bottom(50, 'right', 'deep');
    margin-top: -5px;

    > div:first-child {
      background-color: $brand-primary-dark;
      height: 50px;
      width: 100%;
    }
  }

  .storefront-secondary-navigation {
    .site-header {
      background: transparent;
      border-bottom-color: transparent;
      padding-top: 0;

      .preheader {
        @include span(12);
        background-color: $dark-background;
        display: inline-block;
        padding: 0 $nav-spacing;

        a {
          @include preheader-text;

          &::after {
            color: $light-text;
          }
        }

        .preheader-text {
          @include span(5 or 12);
          @include nav-container;
        }

        .secondary-navigation {
          @include span(last 7 or 12);
          @include nav-container;
          margin: 0;
        }
      }

      .storefront-primary-navigation {
        background-color: $brand-primary-dark;
        padding: 0 $nav-spacing;

        .main-navigation {
          @include span(9 or 12);
          @include nav-container;
          float: none;
          margin: $nav-spacing * 1.7 0 $nav-spacing * 1.7 $nav-spacing;

          li {
            a {
              color: $light-text;
            }

            &:not(.nav-button) {
              a {
                font-size: 1.2rem;
                padding: $nav-spacing * 1.16 $nav-spacing;

                &:hover,
                &.focus {
                  @include transition-color;
                  background-color: inherit;
                  color: $brand-secondary;
                }
              }
            }
          }

          .menu {
            li {
              .sub-menu {
                background-image: linear-gradient(to bottom, $brand-primary-dark, $brand-primary);
                opacity: 0;
                top: 0;
              }

              &:hover,
              &.focus {
                .sub-menu {
                  @include transition-visibility;
                  opacity: 1;
                  top: calc(100%);
                }
              }
            }
          }
        }

        .site-branding {
          @include span(3 or 12);
          @include nav-container;
          margin: $nav-spacing * 1.8 0;

          img {
            margin: auto;
            max-height: 68px;
            width: auto;
          }
        }
      }
    }
  }
}
