@include susy-media($desktop) {
  .home {
    .fj-hero-banner {
      margin-top: $base-spacing * -2.5;
    }
  }

  .fj-hero-banner-wrapper {
    filter: drop-shadow(0 3px 3px $grey);
  }

  .fj-hero-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    margin-bottom: 4.2358em;
    padding: $base-spacing * 4 $base-spacing * 2;

    h1 {
      color: $white;
      font-size: $base-spacing * 2;
      font-weight: 700;
      margin-bottom: $base-spacing * 2;
      text-align: center;
    }

    .banner-text {
      color: $white;
      font-size: $base-spacing;
      margin-bottom: $base-spacing * 1.5;
      text-align: center;
    }

    .button-wrapper {
      @include center-text;
    }
  }
}
