.polaroid-grid {
  @include polaroid-grid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .polaroid-panel-wrapper {
    @include span(6 inside);
  }

  .polaroid-panel {
    @include polaroid;
    display: block;
    margin-bottom: $spacing-half;
    outline: none !important;
    overflow-y: hidden;
    text-decoration: none !important;

    &:focus {
      filter: brightness(95%);
    }

    .text-wrapper {
      background-image: url('./assets/images/polaroid-light.png');
      margin-bottom: (-$spacing-huge);
      margin-top: (-$spacing-half);
      padding-bottom: ($spacing-huge + $spacing-third);
      padding-top: $spacing-half;

      .text-title {
        @include text-center;
        font-size: 1rem;
        margin-bottom: 0;
        padding: 0 $spacing-third;

        &::after {
          background: $grey;
          bottom: -2px;
          box-shadow: 0 0 5px $grey;
          content: '';
          height: 2px;
          left: 0;
          position: absolute;
          width: 100%;
        }
      }
    }

    .wp-post-image {
      border-radius: 0;
      margin-bottom: 0;
      padding: $spacing-third;
    }
  }
}

@include susy-media($desktop) {
  .polaroid-grid {
    .polaroid-panel-wrapper {
      @include span(4 inside);
    }
  }
}
