$polaroid-spacing: $base-spacing / 3;

.posts-grid {
  @include slant;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  .post-panel {
    @include grid-cell(.5, 4);
    @include polaroid;
    margin-bottom: $base-spacing / 2;
    outline: none !important;
    overflow-y: hidden;
    text-decoration: none !important;

    &:focus {
      filter: brightness(95%);
    }

    .text-wrapper {
      background-image: url('./assets/images/polaroid-light.png');
      margin-bottom: $base-spacing * -5;
      margin-top: $base-spacing * -.5;
      padding-bottom: $base-spacing * 5 + $polaroid-spacing;
      padding-top: $base-spacing / 2;

      .text-title {
        @include text-center;
        font-size: 1rem;
        margin-bottom: 0;
        padding: 0 $polaroid-spacing;

        &::after {
          background: $grey;
          bottom: -2px;
          box-shadow: 0 0 5px $grey;
          content: '';
          height: 2px;
          left: 0;
          position: absolute;
          width: 100%;
        }
      }
    }

    .wp-post-image {
      border-radius: 0;
      margin-bottom: 0;
      padding: $polaroid-spacing;
    }
  }
}
