// WooCommerce overwrites
.wc-bookings-date-picker {
  .ui-datepicker {
    td.bookable {
      a {
        background-color: $brand-secondary !important;
      }
    }

    td.ui-datepicker-current-day a,
    td.bookable-range .ui-state-default {
      background: darken($brand-secondary, 10%) !important;
    }
  }
}

.wc-bookings-booking-form {
  .block-picker {
    li {
      a.selected, a:hover, a:focus {
        background: $brand-secondary !important;
        outline: none;
      }
    }
  }
}

.related.products {
  .type-product {
    a:focus {
      outline: none;
    }
  }
}

// custom styling
.tour-summary {
  background-color: $grey;
  color: $white;
  margin-bottom: $base-spacing;
  padding: $base-spacing / 2 $base-spacing;
  width: 100%;
}

.storefront-full-width-content.single-product {
  .product-slider-wrapper {
    padding-bottom: $base-spacing;
  }

  .bx-wrapper {
    background: none;
    border: 0;
    box-shadow: none;

    .bx-next, .bx-prev {
      color: $grey;
      margin-top: 8px;
      text-indent: unset;
      top: auto;
    }

    .bx-viewport {
      .product-slider {
        margin: 0 0 1.41575em;

        li {
          padding: $base-spacing / 2;

          &:nth-child(4n-1) {
            transform: rotate(-3deg);
          }

          &:nth-child(4n) {
            transform: rotate(2deg);
          }

          &:nth-child(4n+1) {
            transform: rotate(-2deg);
          }

          &:nth-child(4n+2) {
            transform: rotate(3deg);
          }

          &.photo-first {
            transform: rotate(3deg);
          }

          &.photo-last {
            transform: rotate(-1deg);
          }
        }

        .product-photo {
          @include polaroid;
          border: 5px solid $polaroid;
          margin: auto;
          padding: 2px 3px;
          width: 80%;
        }

        .bx-caption {
          background-color: $polaroid;
          height: 41px;
          position: relative;
          text-align: center;

          span {
            color: darken($grey, 10%);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@include susy-media($desktop) {
  .storefront-full-width-content.single-product {
    .product-slider-wrapper {
      padding-bottom: $base-spacing;
    }

    div.product {  // sass-lint:disable-line no-qualifying-elements
      form.cart { // sass-lint:disable-line no-qualifying-elements
        padding: 0;
      }

      .product-main-content {
        @include span(8 of 12);
        margin-bottom: $base-spacing;
      }

      .summary {
        @include span(last 4 of 12);
      }
    }
  }
}
