// WooCommerce overwrites
.wc-bookings-date-picker {
  background-color: $white;
  padding: 0 $spacing-qtr;

  .ui-datepicker {
    td.bookable {
      a {
        background-color: $brand-secondary !important;
      }
    }

    td.ui-datepicker-current-day a,
    td.bookable-range .ui-state-default {
      background: $brand-secondary-dark !important;
    }

    td {
      .ui-state-default {
        padding: $spacing-qtr 0;
      }
    }
  }
}

.wc-bookings-booking-form {
  margin: 0;

  fieldset {
    margin: 0;
  }

  label {
    margin-right: $spacing-qtr;
  }

  .wc-bookings-booking-cost {
    margin-bottom: $spacing-qtr !important;
  }

  .block-picker {
    margin: 0;

    li {
      a.selected,
      a:hover,
      a:focus {
        background: $brand-secondary !important;
        outline: none;
      }
    }
  }

  .form-field {
    display: inline-block;
    margin: 0 0 $spacing-qtr;

    > .full-width {
      display: flex;
    }

    .tooltip {
      margin-left: $spacing-tiny;
      position: relative;

      .tooltip-text {
        @include border-radius-all;
        background-color: $white;
        left: 50%;
        margin-left: -60px;
        padding: $spacing-tiny;
        position: absolute;
        top: 100%;
        visibility: hidden;
        width: 120px;
        z-index: 1;
      }

      &:hover {
        .tooltip-text {
          visibility: visible;
        }
      }
    }

    input {
      &[type] {
        margin-left: auto;
        max-height: 45px;
        padding: $spacing-qtr;
        width: auto;
      }
    }
  }
}

// custom styling
.product-content-wrapper {
  display: inline-block;
}

.storefront-full-width-content.single-product {
  div.product {
    overflow: visible;

    .product-main-wrapper,
    .summary {
      margin-bottom: $base-spacing;
    }

    .summary-wrapper-inner {
      @include sloped-bottom(2, 'trapezoid', 'shallow');
      padding: $spacing-qtr;

      .cart,
      .wpcf7-form {
        background-color: $brand-primary;
        color: $black;
        margin-bottom: 0;
        padding: $spacing-half;

        input {
          max-width: 100%;
        }

        .ui-datepicker-calendar {
          background-color: $white;
        }

        .wc-bookings-date-picker {
          background-color: $brand-primary;
        }

        .wc-bookings-booking-form-button {
          background-color: $brand-secondary;
          border-color: $brand-secondary;
          color: $black;
          display: block;
          margin: auto;
        }
      }
    }

    .tour-header {
      @include text-shadow;
      @include border-radius-top;
      background-color: $brand-secondary;
      box-shadow: 0 3px 3px $grey;
      color: $white;
      margin: (-$spacing-half) (-$spacing-half) $spacing-half;
      padding: $spacing-qtr $spacing-qtr $spacing-half;
    }

    .tour-switcher-wrapper {
      margin: (-$spacing-half) (-$spacing-half) $spacing-onehalf;

      .tour-switcher {
        @include border-radius-top;
        color: $white;
        display: flex;

        > a {
          @include span(6 inside no-gutters);
          @include transition-transform;
          background-color: $brand-secondary;
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%);
          color: $white;
          cursor: pointer;
          display: inline-block;
          opacity: .8;
          outline: none;
          padding: $base-spacing;
          text-align: center;

          &.active {
            background-color: $brand-secondary;
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
            cursor: default;
            margin-bottom: (-$spacing-half);
            opacity: 1;
          }
        }
      }
    }

    .product-tour-wrapper {
      padding: $spacing-qtr;

      .product-tour {
        @include box-shadow;
        @include border-radius-all;
        background-color: $white;
        margin-bottom: $base-spacing;
        padding: $spacing-half;

        h4 {
          font-size: 1.2rem;
          margin: 0;
        }

        .detail-item {
          margin-bottom: $spacing-half;
        }

        .tour-content-wrapper {
          &::after {
            clear: both;
            content: '';
            display: block;
            height: 0;
            line-height: 0;
            visibility: hidden;
          }

          .tour-content {
            float: left;
            height: auto;
            overflow: hidden;
            transform: scaleY(1);
            transform-origin: top;
            transition: transform $transition-slow ease-out;
            width: 100%;
          }
        }
      }
    }

    .product-slider-wrapper {
      padding-bottom: $base-spacing;
    }

    .bx-wrapper {
      background: none;
      border: 0;
      box-shadow: none;

      .bx-next,
      .bx-prev {
        background: none;
        color: $grey;
        margin-top: 8px;
        text-indent: unset;
        top: auto;
      }

      .bx-viewport {
        height: auto !important;

        .product-slider {
          height: 100%;
          margin: 0 0 $spacing-half;

          li {
            @include susy-media($desktop) {
              padding: $base-spacing;
            }
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            padding: $spacing-qtr;

            &:nth-child(4n-1) {
              transform: rotate(-3deg);
            }

            &:nth-child(4n) {
              transform: rotate(2deg);
            }

            &:nth-child(4n+1) {
              transform: rotate(-2deg);
            }

            &:nth-child(4n+2) {
              transform: rotate(3deg);
            }

            &.photo-first {
              transform: rotate(3deg);
            }

            &.photo-last {
              transform: rotate(-1deg);
            }
          }

          .product-photo {
            @include polaroid;
            border: $spacing-tiny solid $polaroid;
            margin: auto;
            padding: 2px 3px;
            width: 80%;

            img {
              margin: auto;
            }
          }

          .bx-caption {
            background-color: $polaroid;
            height: 41px;
            position: relative;
            text-align: center;

            span {
              color: darken($grey, 10%);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}

@include susy-media($desktop) {
  .storefront-full-width-content.single-product {
    div.product {
      .summary-wrapper {
        float: none;
        margin: 0 auto $base-spacing;
      }

      .summary {
        margin-bottom: $base-spacing;
        width: 100%;
      }
    }
  }
}

@include susy-media($desktop-large) {
  .storefront-full-width-content.single-product {
    div.product {
      .product-main-wrapper {
        @include span(8 of 12);
      }

      .summary-wrapper {
        @include span(last 4 of 12);
        position: sticky;
        top: 0;
      }
    }
  }
}
