@mixin nav-container {
  display: inline-block;
  margin-right: 0;
}

@mixin preheader-text {
  color: $light-text;
  font-size: 1.1rem;
  padding: .5rem 1rem;
}

@mixin transition-color {
  transition: color $transition-normal ease-in-out;
}
