@mixin center-text {
  text-align: center;
}

@mixin nav-container {
  display: inline-block;
  margin-right: 0;
}

@mixin preheader-text {
  color: $light-text;
  font-size: 1.1rem;
  padding: $base-spacing / 4 $base-spacing / 2;
}

@mixin transition-color {
  transition: color $transition-normal ease-in-out;
}

@mixin transition-visibility {
  transition: top $transition-normal, opacity $transition-slow;
}

@mixin shadow-border-bottom {
  box-shadow: 0 0 10px 5px $brand-primary-dark;
}

@mixin jagged-border-bottom {
  &::after {
    background: linear-gradient(-45deg, transparent 16px, $brand-primary-dark 0), linear-gradient(45deg, transparent 16px, $brand-primary-dark 0);
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 22px 32px;
    content: '';
    display: block;
    height: 14px;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
  }
}

@mixin grid-cell($multiplier: 1) {
  @for $i from 1 through 12 {
    &:first-child:nth-last-child(#{$i}),
    &:first-child:nth-last-child(#{$i}) ~ .panel-grid-cell {
      width: 100% / $i;
    }
  }

  &:first-child:not(:last-child) {
    margin: 0 #{$base-spacing * $multiplier} 0 0;
  }

  &:last-child:not(:first-child) {
    margin: 0 0 0 #{$base-spacing * $multiplier};
  }

  &:not(:first-child):not(:last-child) {
    margin: 0 #{$base-spacing * $multiplier};
  }
}
