@mixin center-text {
  text-align: center;
}

@mixin nav-container {
  display: inline-block;
  margin-right: 0;
}

@mixin preheader-text {
  color: $light-text;
  font-size: 1.1rem;
  padding: $base-spacing / 4 $base-spacing / 2;
}

@mixin transition-color {
  transition: color $transition-normal ease-in-out;
}

@mixin transition-visibility {
  transition: top $transition-normal, opacity $transition-slow;
}

@mixin transition-transform {
  transition: transform $transition-normal;
}

@mixin shadow-border-bottom {
  box-shadow: 0 0 10px 5px $brand-primary-dark;
}

@mixin jagged-border-bottom {
  &::after {
    background: linear-gradient(-45deg, transparent 16px, $brand-primary-dark 0), linear-gradient(45deg, transparent 16px, $brand-primary-dark 0);
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 22px 32px;
    content: '';
    display: block;
    height: 14px;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
  }
}

@mixin grid-cell($multiplier: 1, $overwrite: 0) {
  $spacing: $base-spacing * $multiplier;

  // todo: implement tablet

  @for $i from 1 through 24 {
    $total: if($overwrite > 0, $overwrite, $i);

    &:first-child:nth-last-child(#{$i}),
    &:first-child:nth-last-child(#{$i}) ~ * {
      width: 100% / $total;
    }
  }

  &:first-child:not(:last-child) {
    margin-right: #{$spacing};
  }

  &:last-child:not(:first-child) {
    margin-left: #{$spacing};
  }

  &:not(:first-child):not(:last-child) {
    margin-left: #{$spacing};
    margin-right: #{$spacing};
  }
}

@mixin slant {
  $rotate: (
    1: -5,
    2: 4,
    3: -2,
    4: 6,
    5: 3
  );
  $translate: (
    1: 16,
    2: -20,
    3: 16
  );
  @for $row from 1 through 6 {
    &:nth-child(#{$row}) {
      .post-panel {
        @for $i from 1 through 24 {
          $remainder: $row - 1 % 3;
          $tilt: map-get($rotate, $remainder + $i);

          &:nth-child(#{$i}) {
            @include transition-transform;
            transform: rotate(#{$tilt}deg) translate(0, #{map-get($translate, $i)}px);

            &:hover {
              transform: rotate(calc(#{$tilt}deg + 1deg)) translate(0, calc(#{map-get($translate, $i)}px - 3px));
            }
          }
        }
      }
    }
  }
}
