$grey:                  #687274;
$light-grey:            #f5fafa;
$turquoise:             #3ed7e0;
$purple:                #b530f0;

$dark-background:       $grey;
$light-text:            $light-grey;
$brand-primary:         $turquoise;
$brand-secondary:       $purple;

$transition-fast:       150ms;
$transition-normal:     300ms;
$transition-slow:       450ms;
