$desktop-large:         992px;

$grey:                  #687274;
$light-grey:            #f5fafa;
$turquoise:             #3ed7e0;
$purple:                #b530f0;
$white:                 #fff;
$black:                 #333;
$polaroid:              #f1f1f1;

$dark-background:       $grey;
$light-text:            $light-grey;
$brand-primary:         $turquoise;
$brand-primary-dark:    darken($brand-primary, 10%);
$brand-secondary:       $purple;
$brand-secondary-dark:  darken($brand-secondary, 10%);

// Storefront overwrites
$color_woocommerce:     $purple; // sass-lint:disable-line variable-name-format

$transition-fast:       150ms;
$transition-normal:     300ms;
$transition-slow:       500ms;

$border-radius:         5px;

$base-spacing:          2rem;
$spacing-huge:          $base-spacing * 5;
$spacing-double:        $base-spacing * 2;
$spacing-onehalf:       $base-spacing * 1.5;
$spacing-half:          $base-spacing / 2;
$spacing-third:         $base-spacing / 3;
$spacing-qtr:           $base-spacing / 4;

// Siteorigin
$row-bottom:            $spacing-double;
$row-bottom-desktop:    $base-spacing * 3;
