$grey:                  #687274;
$light-grey:            #f5fafa;
$turquoise:             #3ed7e0;
$purple:                #b530f0;
$white:                 #fff;
$polaroid:              #f1f1f1;

$dark-background:       $grey;
$light-text:            $light-grey;
$brand-primary:         $turquoise;
$brand-primary-dark:    darken($brand-primary, 10%);
$brand-secondary:       $purple;

// Storefront overwrites
$color_woocommerce:     $purple; // sass-lint:disable-line variable-name-format

$transition-fast:       150ms;
$transition-normal:     300ms;
$transition-slow:       450ms;

$base-spacing:          2rem;
$nav-spacing:           $base-spacing / 2;

// Siteorigin
$row-bottom:            $base-spacing * 2;
$row-bottom-desktop:    $base-spacing * 3;
